
footer {
    display: flex;
    justify-content: center;
    padding-top: initial;
    background-color: #587e63;
    color: #000000;
    margin-bottom: initial;
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 40px;
}
