
@{
    Layout = null;  <!--Mettre le chemin de la disposition -->
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DipositionGenerale</title>
</head>
<body>
    <!--FAIRE UNE DISPOSITION GENERALE DANS UN PROJET DONNEE-->
    <div> 
    </div>
    @RenderBody()  <!--DISPOSITION-->
</body>
</html>
