
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnregistrementVote</title>
</head>
<body>
    <!--MESSAGE CONFIRMATION DE MON VOTE -->
    <h3>
             MERCI POUR VOTRE VOTE IL A ETE BIEN ENREGISTRE.
    </h3>
    <div> 
    </div>
</body>
</html>
