
@{
                /**/

                Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageDeGarde</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/StyleSheet.css">

</head>
<body>

    <div>
        <a style="margin-top:3% ;margin-left:1%;margin-right:1% " type="button" class="btn btn-primary" href="@Url.Action("PageDeGarde")">HOME</a>
        <a style="margin-top:3% ;margin-right:1%" type="button" class="btn btn-primary" href="@Url.Action("ContactUs")">CONTACT-US</a>
        <a style="margin-top:3%" type="button" class="btn btn-primary" href="#">ACTUALITY</a>
    </div>


    <fieldset>
        <div style="text-align:center ; margin-top:5%">
            <h1>  BIENVENUE! CREATION ==> SONDAGE</h1>
            <h2>STRAWPOLL</h2> <br />

        </div>
    </fieldset>
    <fieldset>
        <p style="text-align:center">
            A molestie mattis massa. Rhoncus sollicitudin tortor sit bibendum convallis mattis blandit eros penatibus?
            Convallis praesent eros pharetra natoque. Parturient blandit nunc velit blandit est. Dignissim condimentum
            laoreet habitant nullam habitasse scelerisque malesuada. Platea fermentum massa malesuada dapibus aliquet nisi.
            Neque primis bibendum nunc enim sed vulputate mattis. Faucibus parturient eu habitant arcu aptent vestibulum et.
            Mollis sociosqu pellentesque.Himenaeos bibendum eleifend eros vestibulum, nulla ligula a parturient porttitor in.
            Parturient lobortis sociosqu pharetra mus parturient purus hac. Phasellus in conubia venenatis hendrerit aliquam tempus
            auctor rhoncus morbi risus cubilia condimentum. Id sem conubia sociis. Blandit ultricies luctus taciti congue adipiscing
            rhoncus porttitor blandit orci. Volutpat bibendum tempor auctor porttitor est quis ut porttitor! Senectus sit auctor cum
            cubilia elit conubia, ligula inceptos dignissim integer himenaeos! Euismod ante integer vulputate leo lacinia lectus pulvinar.
            Elementum vulputate phasellus.
        </p>

        <br>
        <br />


        <div>


            <a style="margin-left :47%  " type="button" class="btn btn-primary" href="@Url.Action("FormulaireCreation")">

                CREER SONDAGE
            </a>





        </div>



    </fieldset>
    <footer style="margin-top:4%">
        <p style="text-align:center">Copyright &copy; @DateTime.Now.Year  \  BAH AMADOU BAILO \ SONDAGE-CCI CAMPUS COLMAR ALSACE </p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>


</html>
