
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageDeGarde</title>
</head>
<body>
    <div style="text-align:center"> 
        <h1>WELCOME !!!</h1>
           <h2> STRAWPOLL  </h2>
    </div>
</body>
</html>
