
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SupprimerSondage</title>
</head>
<body>
    <div>
        <h5> SONDAGE DESACTIVE </h5>
    </div>

    <div>
        
        <a style="margin-left:30% ;margin-right:30%" type="button" class="btn btn-primary" href="@Url.Action("PageDeGarde", new { idSondage = Model.Vote.ID})">ACCUEIL</a>
    </div>

</body>
</html>
